{% extends 'layouts/tch_page.html' %}
{% load static %}

{% block title %} Notice {% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2><b>Extraordinary evaluations | Second chance</b><br>
        <small><b>To All Careers</b> | Friday, 20th May, 2019</small></h2>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed sem aliquam, iaculis neque in, aliquet lorem.
          Mauris tristique iaculis dui, at tempus dolor vulputate id. Praesent ante metus. Aliquam sed sem aliquam, iaculis neque in, aliquet lorem.
          Mauris tristique iaculis dui, at tempus dolor vulputate id. Praesent ante metus.
        </p>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed sem aliquam, iaculis neque in, aliquet lorem.
          Mauris tristique iaculis dui, at tempus dolor vulputate id. Praesent ante metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed sem aliquam, iaculis neque in, aliquet lorem.
          Mauris tristique iaculis dui, at tempus dolor vulputate id. Praesent ante metus.
        </p>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed sem aliquam, iaculis neque in, aliquet lorem.
          Mauris tristique iaculis dui, at tempus dolor vulputate id. Praesent ante metus.
        </p>
      </div>
      <div class="card-footer">
        <a class="btn" href="/teacher/notices">Back to Notices</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
