{% load static %}
<div class="col-4">
  <div class="logo">campus</div>
  <ul>
    <li>
      <a href="/dashboard" class="{{ dashboard_page }} ">
        <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#home"/></svg> Dashboard
      </a>
    </li>
    <li>
      <a href="/users" class="{{ users_page }}">
        <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#users"/></svg> Users
      </a>
    </li>
    <li>
      <a href="/subjects" class="{{ subjects_page }}">
        <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#edit"/></svg> Subjects
      </a>
    </li>
    <li>
      <a href="/schedules" class="{{ schedules_page }}">
        <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#calendar"/></svg> Schedules
      </a>
    </li>
    <li>
      <a href="/payments" class="{{ payments_page }}">
        <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#credit-card"/></svg> Payments
      </a>
    </li>
    <li>
      <a href="/announcements" class="{{ announcements_page }}">
        <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#message-circle"/></svg> Announcements
      </a>
    </li>
   </ul>
</div>
<div class="header">
  <div class="search">
    <input type="text" name="" value="" placeholder="Search...">
    <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#search"/></svg>
  </div>
  <div class="options">
    <ul class="menu">
      <li>
        <a href="#"><svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#bell"/></svg></a>
      </li>
      <li>
        <a href="#"><svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#inbox"/></svg></a>
      </li>
    </ul>
    <details class="user">
      <summary>J</summary>
      <div class="details-menu">
        <ul>
          <a href="#"><svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#settings"/></svg> Settings</a>
          <a href="#"><svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#log-out"/></svg> Logout</a>
        </ul>
      </div>
    </details>
  </div>
</div>

<div class="container-fluid">
<div class="row">
  <label for="sidebar-docs" class="menu-toggle-button">
    <svg class="icon icon-big">
      <use xlink:href="/assets/icons/feather.svg#menu"/>
    </svg>
  </label>
  <input type="checkbox" id="sidebar-docs" role="button" class="menu-toggle">
  <aside class="col-md-3 sidebar">
    <label class="sidebar-overlay" for="sidebar-docs"></label>
    <label for="sidebar-docs" class="menu-toggle-button">
      <svg class="icon icon-big">
        <use xlink:href="/assets/icons/feather.svg#arrow-left"/>
      </svg>
    </label>
    <nav class="navbar-menu">
      <ul class="navbar-nav folding-menu">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="/assets/icons/feather.svg#list"/>
            </svg>
            Pages
          </a>
        </li>
        <li class="nav-item">
          <details class="folding folding-borderless">
            <summary class="nav-link folding-title">
              <svg class="icon">
                <use xlink:href="/assets/icons/feather.svg#layers"/>
              </svg>
              Posts
              <svg class="icon icon-right icon-rotate">
                <use xlink:href="/assets/icons/feather.svg#chevron-down"/>
              </svg>
            </summary>
            <div class="folding-content">
              <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">New Post</a></li>
                <li class="nav-item"><a href="#" class="nav-link">All Posts</a></li>
              </ul>
            </div>
          </details>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="/assets/icons/feather.svg#message-circle"/>
            </svg>
            Comments
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="/assets/icons/feather.svg#settings"/>
            </svg>
            Appearance
          </a>
        </li>
        <li class="nav-item disabled">
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="/assets/icons/feather.svg#clock"/>
            </svg>
            Disabled
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="col-md-9">
    <h5>Content</h5>
  </div>
</div>
</div>
