.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="text"],
.form input[type="url"],
.form textarea,
.form select {
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: .4rem;
  display: inline-block;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: inherit;
  padding: .6rem 1.0rem;
  padding: .5em .6em;
}
.schedules_form{
  background-color: #eee;
  padding: 10px;
}

.selects{
  font-size: 14px;
  font-weight: 600;
  color: $inpunts-font-color;
  margin: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  min-width: 30vh;
  background-color: $inputs-bgrnd;
  border: 2px solid lighten($primary-color, 50%);
}

.form_input{
  background-color:$inputs-bgrnd;
  color: $inpunts-font-color;
  border: 2px solid lighten($primary-color, 50%);
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}
