.sidebar-main {
  position: sticky;
  width: 200px;
  height: 100%;
  background: #242939;
  top: 0;
  left: 0;
  float: left;
  padding: 20px 30px;

  .logo {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    display: block;
    position: relative;
    color: #fff;
  }
  ul {

    li {

      a {
        color: #989eb3;
        text-decoration: none;
        margin: 25px 0;
        letter-spacing: -0.2px;
        font-size: 12.5px;
        display: block;

        .feather{
          margin-right: 10px;
          top: 4px;
          position: relative;
          color: #434d6b;
        }

        &.active {
          color: #fff;
          .feather{
            color: #5d78ff;
          }
        }
      }
    }
  }
}

.header-main{
  width: calc(100% - #{$sidebar-width});
  display: inline-flex;
  padding: 12px 20px;
  height: 70px;
  justify-content: space-between;
  float: left;
  border-bottom: 1px solid #f4f4f4;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
    box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
  ul.menu{
    display: inline-flex;
    margin: 0 10px;
    a{
      margin: 0 15px;
      display: block;
      .feather{
        color: #b4b8ce;
      }
    }
  }
  .search{
    padding: 5px;
    margin: 0;
    background: #f9f9f9;
    font-size: 12.5px;
    font-weight: 600;
    border-radius: 6px;
    min-width: 250px;
    border: 1px solid #f4f4f4;
    position: relative;
    input{
      border: none;
      margin: 9px 5px;
      background: #f9f9f9;
      font-family: 'Inter', sans-serif;
      font-size: 12.5px;
      font-weight: 600;
      width: calc(100% - 30px);
      &:focus{
        outline: 0;
      }
    }
    .feather{
      position: absolute;
      top: 12px;
      right: 10px;
      color: #666;
    }
  }
  .user{
    display: inline-block;
    summary {
      width: 40px;
      height: 40px;
      background: #0747A6;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      font-weight: 900;
      font-size: 25px;
      margin: 2px;
      line-height: 40px;
      cursor: pointer;
    }
  }
  .details-menu{
    position: fixed;
    top: 70px;
    right: 15px;
    &:before{
      content: "";
      position: absolute;
      top: -9px;
      right: 10px;
      border-bottom: 10px solid transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-bottom-color: #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
}
