$body-background: #CCC;
$font-color: #030303;

$primary-color: #0747A6;

//
// Form Variables
//

$inputs-bgrnd: #f4f4f4;
$inpunts-font-color: #3d3d3d;


//
//Button Variables
//

$pimary-button-color:        #0747A6;
$secondary-button-color:     #0d1a35;
$button-letter-color:        #f7fafe;
$green-btn:                  #09a526;
$red-btn:                    #ba0000;
$yellow-btn:                 #ffd902;
$light-btn:                  20%;



$sidebar-width: 200px;

//
// Grid Variables
//

$enable-grid-classes:       true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
