table{
  background-color: darken($body-background, 5%);
  margin-top: 30px;
  min-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr{
 &:hover{
  background-color: lighten($primary-color, 50%);
 }
}

th, td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -1px;
  margin-right: -1px;
}
th{
  background-color: $primary-color;
  color: #eee;
  min-height: 70px;
  border: 2px solid $primary-color;
}
