.sidebar-main{
  position: sticky;
  width: 270px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  float: left;
  .sidebar-primary{
    width: 70px;
    background: #f4f4f4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid $primary-color;
      margin-top: 20px;
      border-right-color: transparent;
      transform: rotate(359deg);
      position: relative;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #2c2c54;
        position: absolute;
        border-radius: 50%;
        top: 7px;
        left: 7px;
      }
    }
    ul{
      li{
        a{
          color: #999;
          text-decoration: none;
          margin: 25px 0;
          &.active{
            color: #706fd3;
          }
        }
      }
    }
    .user{
      width: 70px;
      height: 70px;
      background: $primary-color;
      color: #fff;
      text-align: center;
      font-weight: 800;
      font-size: 30px;
      padding: 18px;
    }
  }
  .sidebar-secondary{
    width: 200px;
    background: #fff;
    border-right: 1px solid #eee;
    padding: 20px 30px;
    li{
      a{
        margin: 25px 0;
        font-size: 12.5px;
        color: #666;
        font-weight: 600;
        letter-spacing: -0.3px;
        .feather{
          margin-right: 10px;
          top: 2.2px;
          position: relative;
          width: 16px;
          height: 16px;
          stroke: #aaa;
        }
      }
    }
  }
  ul{
      list-style: none;
      padding-left: 0;
      li{
        a{
          display: block;
          text-decoration: none;
        }
      }
  }
}
