{% extends '_layouts/base.html' %}

{% block title %} Schedules {% endblock %}

{% block content %}
 <div class="">
  <h1>New Schedule</h1>
 </div>
 <div class="">
  <select class="" name="">
   <option value="">career</option>
  </select>
  <select class="" name="Grade">
   <option value="">Grade</option>
  </select>
  <form class="" action="index.html" method="post">
   <table>
    <thead>
     <tr>
      <th>Hour</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>
       <input type="text" name="" value="" placeholder="hour - hour">
       <!-- Subject to change by settings parameters -->
      </td>
      <td>
       <select class="" name="">
        <option value="">Subjects</option>
       </select>
      </td>
      <td>
       <select class="" name="">
        <option value="">Subjects</option>
       </select>
      </td>
      <td>
       <select class="" name="">
        <option value="">Subjects</option>
       </select>
      </td>
      <td>
       <select class="" name="">
        <option value="">Subjects</option>
       </select>
      </td>
      <td>
       <select class="" name="">
        <option value="">Subjects</option>
       </select>
      </td>
      <td>
       <select class="" name="">
        <option value="">Subjects</option>
       </select>
      </td>
     </tr>
    </tbody>
   </table>
   <input type="submit" name="" value="New schedule">
  </form>
 </div>

{% endblock %}
