{% extends 'layouts/std_page.html' %}
{% load static %}

{% block title %} Notices {% endblock %}

{% block content %}
 <div class="">
  <h1>Notices</h1>
 </div>
 <div class="">
  <form class="" action="index.html" method="post">
   <select class="selects" name="career">
    <option value="">Career</option>
    <option value="">All</option>
   </select>
   <select class="selects" name="grade">
    <option value="">Grade</option>
   </select>
   <select class="selects" name="group">
    <option value="">Group</option>
   </select>
   <input type="text" name="user" value="" placeholder="user" class="form_input">
  </form>
 </div>
 <div class="query_display">
  <table>
   <thead>
    <th>N°</th>
    <th>Announcement</th>
    <th>Addressee</th>
    <th>Options</th>
   </thead>
   <tbody>
    <td>1</td>
    <td>Announcement extract</td>
    <td>name(s)</td>
    <td>
     <form class="" action="index.html" method="post">
      <input type="submit" name="" value="Delete" class="btn btn-small">
     </form>
    </td>
   </tbody>
  </table>
 </div>

{% endblock %}
