{% extends 'layouts/page.html' %}
{% load static %}

{% block title %} Users {% endblock %}

{% block content %}
<form>
     matricula
  <input type="text" name="" value="">
     <br>
     nombre completo
  <input type="text" name="" value="">
     grupo
     <select class="selects" name="">
       <option value="">A</option>
     </select>
     grado
     <select class="selects" name="">
       <option value="">primero</option>
     </select>
     <br>
     careera
     <select class="selects" name="">
       <option value="">sistemas</option>
     </select>
     materia
     <select class="selects" name="">
      <option value="">matematicas</option>
    </select>
     turno
     <select class="selects" name="">
      <option value="">v</option>
    </select>
     opciones avanzadas
     <select class="selects" name="">
      <option value="">---</option>
     </select>
 </form>
 <br>
 <form>
   <table>
     <tr>
       <th>
        <input type="text" name="">
          <button>delete</button>
       </th>
    </tr>
    <tr>
      <th>
       <input type="text" name="">
         <button>delete</button>
      </th>
   </tr>
   <tr>
     <th>
      <input type="text" name="">
        <button>delete</button>
     </th>
  </tr>
</form>
</table>

{% endblock %}
