{% extends 'layouts/page.html' %}
{% load static %}

{% block title %} Users {% endblock %}

{% block content %}
 <h1>Edit users</h1>
 <div class="">
 </div>
 <div class="">
  <form class="" action="index.html" method="post">
   <select class="selects" name="">
    <option value="">administrtivos</option>
    <option value="">maestros</option>
    <option value="">alumnos</option>
   </select>
   <select class="selects" name="">
    <option value="">agregar filtro</option>
   </select>
   <input type="text" name="">
   <button type="button" name="button" class="btn">send</button>
  </form>
  <table>
   <thead>
    <tr>
     <th>tipo de usuario</th>
     <th>agregar filtro</th>
     <th>input</th>
    </tr>
   </thead>
    <tbody>
     <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     </tr>
    </tbody>
   </table>
 </div>
{% endblock %}
