{% load static %}
<header class="nav-header">
  <a class="brand logo" href="/">campus</a>
  <nav class="navbar-menu">
    <form class="form"><input class="form-control" type="text" placeholder="Search..."></form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <details class="dropdown">
          <summary class="nav-link">
            <span>User</span>
            <svg class="icon icon-small">
              <use xlink:href="{% static 'feather.svg' %}#chevron-down"/>
            </svg>
          </summary>
          <ul class="dropdown-content">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li class="dropdown-item-separator"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
