{% extends 'layouts/single-page.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container-fuid">
  <div class="row" style="justify-content:center;align-items:center;">
    <div class="col-sm-6">
      <h5 class="text-center">campus</h5>
    </div>
    <div class="col-sm-6">
      <form class="form">
        <div class="card-body">
          <label for="username">Username</label>
          <input class="form-control" type="text" placeholder="Username" name="username">
          <label for="password">Password</label>
          <input class="form-control" type="password" placeholder="Password" name="password">
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-medium">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
