{% extends 'layouts/single-page.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
  <div class="row" style="justify-content:center;align-items:center;">
    <div class="col-sm-6">
      <div class="card">
        <h5 style="text-align: center;">campus</h5>
        <form class="form form-stacked">
          <div class="card-body">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" name="username">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password">
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-medium">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
