{% extends 'layouts/tch_page.html' %}
{% load static %}

{% block title %} Schedules {% endblock %}

{% block content %}
<div class="row row-scrollable">
  <div class="col-9 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Monday
        </div>
      </div>
      <div class="card-body">
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Algebra II
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Tuesday
        </div>
      </div>
      <div class="card-body">
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Algebra II
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Wednesday
        </div>
      </div>
      <div class="card-body">
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Differential calculus
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
               Algebra II
            </div>
            <div class="avatar-box-content-secondary">
               07:10 AM - 09:40 AM
               <br>
               6th semester
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Thursday
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Differential calculus
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Algebra II
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Algebra I
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Differential calculus
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div class="col-9 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Friday
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Differential calculus
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Algebra II
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Algebra I
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Differential calculus
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div class="col-9 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Saturday
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Differential calculus
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="avatar-box">
              <div class="avatar-box-content">
                <div class="avatar-box-content-primary">
                   Algebra II
                </div>
                <div class="avatar-box-content-secondary">
                   07:10 AM - 09:40 AM
                   <br>
                   6th semester
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
