{% extends 'layouts/page.html' %}
{% load static %}

{% block title %} Schedules {% endblock %}

{% block content %}
 <div class="">
  <h1>Schedules</h1>
 </div>
 <div class="">
  <form class="" action="index.html" method="post">
   <select class="" name="career">
    <option value="">career</option>
   </select>
   <select class="" name=grade"">
    <option value="">Grade</option>
   </select>
   <select class="" name="group">
    <option value="">Group</option>
   </select>
   <select class="" name="cycle">
    <option value="">Cycle</option>
   </select>
   <select class="" name="subject">
    <option value="">Subject</option>
   </select>
  </form>
 </div>
 <div class="table_display">
  <form class="" action="" method="post">
   <table>
    <thead>
     <th>Hour</th>
     <th>Monday</th>
     <th>Tuesday</th>
     <th>Wednesday</th>
     <th>Thursday</th>
     <th>Friday</th>
     <th>Sunday</th>
    </thead>
    <tbody>
     <!-- display for schedules  -->
    </tbody>
   </table>
   <input type="submit" name="save" value="Save">
  </form>
 </div>

{% endblock %}
