{% extends 'layouts/adm_page.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#users"/></svg>
            Users
          </div>
        </div>
        <div class="card-body">
            <ul>
              <li>Online users</li>
            </ul>
            Global users
            <ul>
              <li>Admin</li>
              <li>Teachers</li>
              <li>Students (global and by career)</li>
            </ul>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#edit"/></svg>
            Active Courses
          </div>
        </div>
        <div class="card-body">
            <ul>
              <li>Course 1</li>
              <li>Course 2</li>
              <li>Course 3</li>
              <li>Course 4</li>
            </ul>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <svg class="icon icon-big"><use xlink:href="{% static 'feather.svg' %}#message-circle"/></svg>
            Notices
          </div>
        </div>
        <div class="card-body">
          <p>
            last announcement
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
