{% extends 'layouts/adm_page.html' %}
{% load static %}

{% block title %} Notices {% endblock %}

{% block content %}
 <div class="">
  <h1>Add Announcement</h1>
 </div>
 <div class="">
  <form class="" action="index.html" method="post">
   <input type="text" name="ann_title" value="" placeholder="Affair (title)"><br>
   <input type="text" name="" value="" placeholder="Addressee"><br>
   <textarea name="name" rows="30" cols="100"></textarea><br>
   <input type="submit" name="" value="Send">
  </form>
 </div>

{% endblock %}
