{% extends 'layouts/page.html' %}
{% load static %}

{% block title %} Courses {% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form" action="" method="post">
          <div class="form-row">
            <div class="col-12 col-lg-4">
              <input type="text" class="form-control" placeholder="Specific search" name="" value="">
            </div>
            <div class="col-12 col-lg-2">
              <button class="btn" name="send">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class=table>
          <thead>
            <tr>
              <th>N°</th>
              <th>Course</th>
              <th>Category</th>
              <th>Semester</th>
              <th>Teacher</th>
              <th>Students</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <details class="dropdown">
                  <summary>
                    <svg class="icon">
                      <use xlink:href="{% static 'feather.svg' %}#more-vertical"/>
                    </svg>
                  </summary>
                  <ul class="dropdown-content">
                    <li><a class="dropdown-item" href="/courses/edit">Edit</a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                  </ul>
                </details>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="pagination">
      <a class="pagination-action" href="#">
        <svg class="icon icon">
          <use xlink:href="{% static 'feather.svg' %}#chevron-left"/>
        </svg>
      </a>
      <a class="pagination-item" href="#">1</a>
      <a class="pagination-item active" href="#">2</a>
      <a class="pagination-item" href="#">3</a>
      <a class="pagination-item" href="#">4</a>
      <a class="pagination-action" href="#">
        <svg class="icon icon">
          <use xlink:href="{% static 'feather.svg' %}#chevron-right"/>
        </svg>
      </a>
    </div>
  </div>
</div>
{% endblock %}
