{% extends '_layouts/base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
<div class="">
 <h1>Users</h1>
</div>
<div class="">
 <form class="" action="index.html" method="post">
  <select class="selects" name="">
   <option value="">administrtivos</option>
   <option value="">maestros</option>
   <option value="">alumnos</option>
  </select>
  <select class="selects" name="">
   <option value="">agregar filtro</option>
  </select>
  <input type="text" name="">
  <button type="button" name="button" class="btn">send</button>
 </form>
 <table>
  <thead>
   <tr>
    <th>N°</th>
    <th>Name</th>
    <th>Last name</th>
    <th></th>
   </tr>
  </thead>
   <tbody>
    <tr>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
    </tr>
   </tbody>
  </table>
</div>
{% endblock %}
