{% extends '_layouts/base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
<div class="">
 <h1>queries</h1>
</div>
<div class="">
 <form class="" action="index.html" method="post">
  <table>
   <tr>
    <th>tipo de usuario</th>
    <th>agregar filtro</th>
    <th>input</th>
   </tr>
   <tr>
    <td>
      <select class="" name="">
      <option value="">administrtivos</option>
      <option value="">maestros</option>
      <option value="">alumnos</option>
     </select>
    </td>
     <td>
      <select class="" name="">
       <option value="">agregar filtro</option>
      </select>
     </td>
    <td>
      <input type="text" name="">
    </td>
    <td>
      <button type="button" name="button">send</button>
    </td>
  </table>
 </form>
</div>
{% endblock %}
