{% extends 'layouts/std_page.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Assists
        </div>
      </div>
      <div class="card-body card-scrollable">
        <div class="row">
          <div class="col-12">
            <form class="form" action="index.html" method="post">
              <table class="table table-small">
                <thead>
                  <tr>
                    <td><b></b> <small>6th semester</small></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Algebra</td>
                    <td>
                      <div class="form-group">
                        <label for="student-0" class="form-input-checkbox">
                          <input class="form-control" id="student-0" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-1" class="form-input-checkbox">
                        <input class="form-control" id="student-1" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Español</td>
                    <td>
                      <div class="form-group">
                        <label for="student-0" class="form-input-checkbox">
                          <input class="form-control" id="student-0" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-1" class="form-input-checkbox">
                        <input class="form-control" id="student-1" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Quimica</td>
                    <td>
                      <div class="form-group">
                        <label for="student-0" class="form-input-checkbox">
                          <input class="form-control" id="student-0" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-1" class="form-input-checkbox">
                        <input class="form-control" id="student-1" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Fisica</td>
                    <td>
                      <div class="form-group">
                        <label for="student-2" class="form-input-checkbox">
                          <input class="form-control" id="student-2" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-3" class="form-input-checkbox">
                        <input class="form-control" id="student-3" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>Artes</td>
                    <td>
                      <div class="form-group">


                        <label for="student-2" class="form-input-checkbox">
                          <input class="form-control" id="student-2" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-3" class="form-input-checkbox">
                        <input class="form-control" id="student-3" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>test</td>
                    <td>
                      <div class="form-group">
                        <label for="student-2" class="form-input-checkbox">
                          <input class="form-control" id="student-2" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-3" class="form-input-checkbox">
                        <input class="form-control" id="student-3" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>test </td>
                    <td>
                      <div class="form-group">
                        <label for="student-4" class="form-input-checkbox">
                          <input class="form-control" id="student-4" type="checkbox">
                          <span class="checkbox-control"></span> Assistance
                        </label>
                      </div>
                    </td>
                    <td>
                      <label for="student-" class="form-input-checkbox">
                        <input class="form-control" id="student-" type="checkbox">
                        <span class="checkbox-control"></span> Delay in class
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Notices
        </div>
      </div>
      <div class="card-body card-scrollable">
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
              Extraordinary evaluations <small>· 2 hours ago</small>
            </div>
            <div class="avatar-box-content-secondary">
              Full Stack Developer. @rtCamp ... mega Speaker, Blogger, YouTuber, Writer computer Wordpress, React, Node, Laravel Developer
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
              Ordinary evaluations <small>· 6th May, 2019</small>
            </div>
            <div class="avatar-box-content-secondary">
              Full Stack Developer. @rtCamp ... mega Speaker, Blogger, YouTuber, Writer computer Wordpress, React, Node, Laravel Developer
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">
            <div class="avatar-box-content-primary">
              Extraordinary evaluations <small>· 3rd May, 2019</small>
            </div>
            <div class="avatar-box-content-secondary">
              Full Stack Developer. @rtCamp ... mega Speaker, Blogger, YouTuber, Writer computer Wordpress, React, Node, Laravel Developer
            </div>
          </div>
        </div>
        <div class="avatar-box">
          <div class="avatar-box-content">

<div class="avatar-box-content-primary">
              Extraordinary evaluations <small>· 3rd May, 2019</small>
            </div>
            <div class="avatar-box-content-secondary">
              Full Stack Developer. @rtCamp ... mega Speaker, Blogger, YouTuber, Writer computer Wordpress, React, Node, Laravel Developer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Courses Today
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Course</th>
              <th>Career | Grade</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="status status-pending"></span></td>
              <td>Differential calculus</td>
              <td>Computer Science<br><small>4th semester</small></td>
              <td>10:30 <small>AM</small></td>
            </tr>
            <tr>
              <td><span class="status"></span></td>
              <td>Numerical methods</td>
              <td>Computer Science<br><small>6th semester</small></td>
              <td>09:00 <small>AM</small></td>
            </tr>
            <tr>
              <td><span class="status status-off"></span></td>
              <td>Algebra I</td>
              <td>Computer Science<br><small>1th semester</small></td>
              <td>07:00 <small>AM</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
